@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  /*font color*/
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Dark-grayish-cyan-2: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Light-grayish-cyan-2: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);

  /*font family*/
  --Space-Mono: "Space Mono", monospace;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin center-flex {
    justify-content: center;
  align-items: center;
}
@mixin flex-center-row {
  display: flex;
  @include center-flex;
}
@mixin flex-center-column {
  @include flex-column;
  @include center-flex;
}
/***********
GLOBAL STYLE
************/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--Space-Mono);
}
body {
  @include flex-center-column;
}
.label {
  color: var(--Dark-grayish-cyan);
  font-size: 1.28rem;
  font-weight: 700;
  margin-bottom: 0.48rem;
}

.input {
  position: relative;

  background-color: var(--Light-grayish-cyan-2);
  height: 3.84rem;
  border: none;
  border-radius: 6px;

  text-align: end;
  color: var(--Very-dark-cyan);
  font-size: 1.92rem;
  font-weight: 700;
  padding: 0 1.52rem;

  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
input:focus {
  outline: 2px solid var(--Strong-cyan);
  box-shadow: 0 0 0 2px var(--Strong-cyan);
}
/************
MOBILE LAYOUT
*************/
.container {
  width: 37.5rem;
  min-height: 100vh;
  background-color: var(--Light-grayish-cyan);

  @include flex-center-column;
  justify-content: flex-end;

  background-image: url(../../images/logo.svg);
  background-position: 50% 5.5%;
  background-size: 7.12rem;
  background-repeat: no-repeat;
}
.calculator {
  background-color: var(--White);
  width: inherit;
  min-height: 67.6vh;
  width: calc(37.5rem * .8);

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  padding: 2.48rem;
}

/*bill style*/
.bill {
  @include flex-column();

  &--input {
    background-image: url(../../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 1.52rem center;
  }

  margin-bottom: 2.64rem;
}

/*tip style*/

.tip {
  &--label {
    margin-bottom: 1.44rem;
  }
  &--input {
    &--wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &:nth-child(even) {
      justify-self: flex-end;
    }

    & input {
      display: none;
    }

    cursor: pointer;

    height: 3.76rem;
    width: 11.76rem;
    background-color: var(--Very-dark-cyan);

    border: none;
    border-radius: 4px;
    margin-bottom: 1.44rem;

    color: var(--Light-grayish-cyan);
    font-size: 1.92rem;
    font-weight: 700;
    text-align: center;
    @include flex-center-row();

    &:last-child {
      background-color: var(--Light-grayish-cyan-2);
      color: var(--Very-dark-cyan);

      &::placeholder {
        color: var(--Dark-grayish-cyan);
      }
    }

    &.-button:active {
      background-color: var(--Light-grayish-cyan);
      color: var(--Very-dark-cyan);
    }
    &.-button:focus {
        background-color: var(--Strong-cyan);
        color: var(--Very-dark-cyan);
        outline: none;
      }
  }

  margin-bottom: 1.2rem;
}

/*people amt style*/
.people {
    @include flex-column();

  &--input {
    background-image: url(../../images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 1.52rem center;
  }
  margin-bottom: 2.56rem;
}

/*calc amount style*/

.amount {
  align-self: center;
  background-color: var(--Very-dark-cyan);
  height: 20.4rem;
  border-radius: 15px;
  padding: 3.2rem 2rem 2rem 2rem;

  @include flex-column();
  justify-content: space-between;

  &--container {
    height: 9.12rem;
    @include flex-column();
    justify-content: space-between;
  }

  &--wrapper {
    display: flex;
    justify-content: space-between;
  }

  &--label {
    color: var(--Light-grayish-cyan);
    line-height: 1.6rem;
  }
  & span {
    color: var(--Dark-grayish-cyan);
    font-size: 1.12rem;
  }

  &--value {
    color: var(--Strong-cyan);
    font-size: 2.4rem;
    font-weight: 700;
  }

  &--btn {
    background-color: var(--Strong-cyan);
    height: 4.8rem;
    height: 3.84rem;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--Very-dark-cyan);
    cursor: pointer;

    &:active {
      background-color: var(--Light-grayish-cyan);
    }
  }
}
